body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#products-list {
    margin-bottom: 20px;
}

/* Стили для контейнера фильтров */
.filters {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Стили для каждого поля ввода */
.filters input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопки "Применить фильтры" */
#applyFiltersBtn {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили при наведении на кнопку "Применить фильтры" */
#applyFiltersBtn:hover {
    background-color: #0056b3;
}


.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #0056b3;
}

